.list-products {
    min-height: 75vh;
    &.top{
        padding-top: 85px;
    }
    .container {
        max-width: 1160px;
        margin: 0 auto;
        padding: 0 0 1rem 0;
        h2{
            margin-top: 2rem;
        }
        .products {
            display: grid;
            gap: 15px;
            grid-template-columns:  minmax(auto,50%) minmax(auto,50%);
            &.empty{
                grid-template-columns: auto;
            }
            .info {
                color: #aaa;
                font-size: 1.2rem;
                font-weight: 600;
                margin-top: 2rem;
                text-align: center;
            }
        }
    }

}

@media(max-width: 770px){
    .list-products{
        .container {
            padding: 0 1rem 2rem 1rem;
            .products{
                grid-template-columns: auto;
            }
        }
    }
}