.contact-info{
    margin-top: 3rem;
    >div {
        max-width: 1160px;
        margin: 0 auto;
        .details{
            box-shadow: var(--shadow-md);
            padding: 1rem;
            border-radius: 5px;
            background: #fff;
        }
    }
}