.about-section{
    background: #fff;
    .container{
        max-width: 1160px;
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        align-items: center;
        h1{
            font-size: 28px;
            text-align: center;
            line-height: 34px;
        }
        img {
            margin: 1rem 1rem 1rem 0;
            height: 500px;
        }
        .about{
            padding: 1rem;
            line-height: 22px;
        }
    }
}

@media(max-width: 1023px){
    .about-section {
        .container{
            flex-direction: column;
            padding: 1rem;
            padding-top: 0;
            img{
                height: auto;
                width: 100%;
            }
        }
    }
}