.about-section{
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1rem;
    display: flex;
    align-items: center;
    h1{
        font-size: 28px;
        text-align: center;
        line-height: 34px;
    }
    img {
        height: 500px;
    }
    .about{
        padding: 1rem;
        line-height: 22px;
    }
}

@media(max-width: 770px){
    .about-section {
        flex-direction: column;
        img{
            height: 200px;
        }
    }
}