.about-section{
    background: #fff;
    padding-top: 3rem;
    .container{
        max-width: 1160px;
        margin: 0 auto;
        padding: 0 1rem;
        h1{
            font-size: 28px;
            text-align: center;
            line-height: 34px;
        }
        .avatar{
            margin: 1rem 1rem 1rem 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 2;
            img {
                margin-bottom: 0.5rem;
                border-radius: 50%;
                width: 128px;
            }
        }
        .about{
            padding: 0 1rem 1rem;
            line-height: 28px;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            flex-wrap: wrap;
            p {
                max-width: 564px;
                margin-top: 0;
            }
        }

    }
}

@media(max-width: 768px){
    .about-section{
        .container {
            .avatar{
                margin: 1rem 0;
            }
            .about{
                flex-direction: column-reverse;
            }
        }
    }
}